.App {
  text-align: center;
  height: 100vh;
  background-color: deepskyblue;
  font-family: monospace;
  
}


.body {
  display: flex;
  justify-content: center;
}

.header {
  display: flexbox;
  flex-direction: row;
  background-color: greenyellow;
  color: darkblue;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
}
